.advantages {
  padding-top: 66px;
  padding-bottom: 78px;
  background: $advantages-bg;
  @media (max-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 83px;
  }
  @media (max-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 27px;
  }
}

.advantages__title-block {
  padding-bottom: 11px;  
  @media (max-width: $desktop-width) {
    padding-bottom: 23px;
  }
  @media (max-width: $tablet-width) {
    padding-bottom: 34px;
  } 
}

.advantages__title-block-title {
  margin-bottom: 20px;
  @media (max-width: $desktop-width) {
    margin-left: -4px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  @media (max-width: $tablet-width) {
    max-width: 190px;
    margin: auto;
    font-size: 28px;
  }
}

.advantages__title-block-description {
  margin-left: 2px;
  letter-spacing: 0.2px;
  word-spacing: 0.8px;
  @media (max-width: $desktop-width) {
    margin-left: -1px;
  }
  @media (max-width: $tablet-width) {
    letter-spacing: 0px;
    max-width: 305px;
    margin: auto;
    padding-top: 23px;
    padding-left: 0px;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: 2px;
  @media (max-width: $desktop-width) {
  }
}

.advantages__item-link {
  box-sizing: border-box;
  display: block;
  width: 360px;
  min-height: 301px;
  font: 300 16px $roboto-ff;
  color: $advantages-item-color;
  text-align: center;
  background: $advantages-item-bg;
  border-top: 16px solid $advantages-item-bg;
  border-bottom: 18px solid $advantages-item-bg;
  border-left: 20px solid $advantages-item-bg;
  border-right: 20px solid $advantages-item-bg;
  padding-top: 47px;
  margin: 20px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: $advantages-item-hover-bg;
    .advantages__icon {
        fill: $advantages-item-icon-hover-bg;
    }
  }
  @media (max-width: $desktop-width) {
    border-top-width: 17px;
    border-bottom-width: 17px;
    min-height: 306px;
    margin-bottom: 23px;
    margin-right: 30px;
  }
  @media (max-width: $tablet-width) {
    width: 290px;
    min-height: 248px;
    margin:0 auto 31px auto;
    padding-top: 34px;
    padding-left: 9px;
    border-top: 15px solid $advantages-item-bg;
    border-right: 15px solid $advantages-item-bg;
    border-bottom: 15px solid $advantages-item-bg;
    border-left: 14px solid $advantages-item-bg;
  }
}

.advantages__icon {
  fill: $advantages-item-icon-bg;
  transition: 0.3s;
}

@media (max-width: $tablet-width) {
  .advantages__veterinary-service-icon {
    width: 80px;
    height: 88px;
  }
  .advantages__all-day-work-icon {
    margin-top: 8px;
    width: 80px;
    height: 71px;
  }
  .advantages__cat-food-icon {
    width: 57px;
    height: 88px;
  }
}

.advantages__text{
  width: 250px;
  margin: 29px auto 0 auto;
  line-height: 26px;
  @media (max-width: $desktop-width) {
    margin-top: 33px;
  }
  @media (max-width: $tablet-width) {
    margin-top: 11px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 20px;
  }
}