.advantages {
  padding-top: 65px;
  padding-bottom: 82px;
  background: $advantages-bkg;
}
@media (max-width: $desktop-width) {
  .advantages {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}
@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 36px;
  }
}

.advantages__title-block {
  padding-bottom: 20px;  
}
@media (max-width: $desktop-width) {
  .advantages__title-block {
    padding-bottom: 32px;
  }
}
@media (max-width: $tablet-width) {
  .advantages__title-block {
    padding-bottom: 23px;
  }
}

.advantages__title-block-title {
  margin-bottom: 21px;
}
@media (max-width: $desktop-width) {
  .advantages__title-block-title {
    margin-left: -4px;
    margin-top: 21px;
  }
}
@media (max-width: $tablet-width) {
  .advantages__title-block-title {
    max-width: 190px;
    margin: auto;
    font-size: 28px;
  }
}

.advantages__title-block-description {
  margin-left: 2px;
  letter-spacing: 0.2px;
  word-spacing: 0.8px;
}
@media (max-width: $desktop-width) {
  .advantages__title-block-description {
    margin-left: -1px;
  }
}
@media (max-width: $tablet-width) {
  .advantages__title-block-description {
    font-size: 14px;
    letter-spacing: 0px;
    width: 305px;
    margin: auto;
    line-height: 20px;
    padding-top: 23px;
    padding-left: 0px;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-top: 11px;
  margin-left: 2px;
}
@media (max-width: $desktop-width) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  box-sizing: border-box;
  width: 360px;
  height: 301px;
  background: $advantages-item-bkg;
  border-top: 12px solid $advantages-item-bkg;
  border-bottom: 12px solid $advantages-item-bkg;
  border-left: 15px solid $advantages-item-bkg;
  border-right: 15px solid $advantages-item-bkg;
  font: $advantages-item-font;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: $advantages-item-hover-bkg;
    .advantages__icon {
        fill: #fff;
        stroke: #fff;
    }
  }
}
@media (max-width: $desktop-width) {
  .advantages__item {
    height: 306px;
    margin-right: 11px;
  }
}
@media (max-width: $tablet-width) {
  .advantages__item {
    width: 290px;
    height: 248px;
    margin-bottom: 30px;
    margin-right: 11px;
    border: 22px solid $advantages-item-bkg;
  }
}

@media (max-width: $tablet-width) {
  .advantages__veterinary-service-icon {
    width: 80px;
    height: 88px;
  }
  .advantages__all-day-work-icon {
    margin-top: 8px;
    width: 80px;
    height: 71px;
  }
  .advantages__cat-food-icon {
    width: 57px;
    height: 88px;
  }
}

.advantages__item-layout {
  text-align: center;
  margin-top: 52px;
}
@media (max-width: $tablet-width) {
  .advantages__item-layout {
    margin-top: 34px;
    margin-left: 9px;
  }
}

.advantages__text{
  margin-top: 29px;
  line-height: 26px;
}
@media (max-width: $desktop-width) {
  .advantages__text {
    margin-top: 33px;
  }
}
@media (max-width: $tablet-width) {
  .advantages__text {
    margin-top: 11px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 20px;
  }
}