%usual-btn {
  font-family: $roboto-ff;
  font-weight: 500;
  letter-spacing: 0.3px;
  display: block;
  width: 200px;
  font-size: 13.2px;
  line-height: 50px;
  text-align: center;
  color: $usual-text;
  border: 1px solid $brown-border;
  transition: 0.3s;
  &:hover {
    background: $brown-color;
    color: $usual-text;
    animation: pulsation-small 0.65s;
  }
}