@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Yeseva One";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/yesevaone.woff2") format("woff2"), url("../fonts/yesevaone.woff") format("woff");
 }
