$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1365px;

$brown-color: #a07b50;

$roboto-ff: 'Roboto', 'Arial', sans-serif;
$yeseva-one-ff: 'Yeseva One', 'Arial', sans-serif;
$usual-border: rgba(160, 123, 80, 0.5);
$dark-border: rgba(160, 123, 80, 0.2);

$scrollbar-track-bg: #151313;
$scrollbar-thumb-bg: linear-gradient(180deg, rgba(176,117,50,1) 16%, rgba(139,110,76,1) 43%, rgba(97,97,97,1) 88%, rgba(97,97,97,1) 100%);

$title-block-title-color: #fff;
$title-block-description-color: $brown-color;

$slider-btn-icon-bg: #a07b50;
$slider-btn-icon-hover-bg: #fff;

$usual-btn-bg: none;
$usual-btn-hover-bg: $brown-color;
$usual-btn-color: #fff;
$usual-btn-border-color: rgba(160, 123, 80, 0.5);

$body-bg: #151313;
$body-color: #fff;
$body-font: 400 16px $roboto-ff;

$header-bg: none;
$header-tablet-bg: #151313;
$header-menu-btn-dashes-bg: #a07b50;
$header-menu-link-color: #fff;

$home-bg: none;
$home-location-color: #a07b50;
$home-description-color: #a07b50;
$home-social-icon-bg: #fff;
$home-social-icon-hover-bg: #a07b50;
$home-social-line-bg: rgba(255,255,255,0.15);

$pets-bg: #1F1C1D;

$features-bg: #1F1C1D;
$features-maine-coon-ring-bg: rgba(160, 123, 80, 0.5);
$features-main-coon-circle-bg: #151313;
$features-item-dot-bg: #a07b50;
$features-item-border-bottom-bg: #a07b50;

$advantages-bg: none;
$advantages-item-color: #fff;
$advantages-item-bg: #1F1C1D;
$advantages-item-icon-bg: #a07b50;
$advantages-item-icon-hover-bg: #fff;
$advantages-item-hover-bg: #a07b50; 

$how-to-care-bg:  url(../img/how-to-care.png);
$how-to-care-item-title-color: #a07b50;
$how-to-care-item-border-color: rgba(160, 123, 80, 0.5);
$how-to-care-item-hover: #151313;
$how-to-care-item-link-color: #fff;
$how-to-care-item-link-bg: #a07b50;

$team-bg: none;
$team-slider-item-title-color: #a07b50;
$team-slider-item-subtitle-color: #a07b50;
$team-slider-item-border-color: rgba(160, 123, 80, 0.5);
$team-content-bg: #1F1C1D;
$team-social-icon-bg: #fff;
$team-social-icon-hover-bg: #a07b50;

$answers-bg: #1F1C1D;
$answers-color: #DDD0C3;
$answers-item-num-color: #a07b50;
$answers-show-answer-btn-color: #a07b50;
$answers-show-answer-btn-bg: none;
$answers-show-answer-btn-hover-color: #fff;
$answers-show-answer-btn-hover-bg: #a07b50;
$answers-item-border-color: rgba(160, 123, 80, 0.2);

$reviews-bg: #1F1C1D;
$reviews-slider-item-text-content-wrapper-bg: #151313;
$reviews-slider-item-date-color: #a07b50;
$reviews-slider-item-social-link-bg: none;
$reviews-slider-item-social-link-hover-bg: #a07b50;
$reviews-slider-item-social-icon-bg: #a07b50;
$reviews-slider-item-social-icon-hover-bg: #fff;

$footer-bg: #151313;
$footer-color: #FDF2E6;
$footer-social-icon-bg: #a07b50;
$footer-social-icon-hover-bg: #fff;

$modal-overlay-bg: rgba(103, 76, 51, 0.6);
$modal-content-bg: #fff;
$modal-close-btn-color: #A07B50;
$modal-title-color: #674C33;
$modal-description-color: #674C33;
$modal-label-color: #674C33;
$modal-input-color: #c7b5a5;
$modal-input-border-color: rgba(103, 76, 51,0.3);
$modal-agreement-color: #B29375;
$modal-send-btn-bg: #A07B50;